.products__grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__grid--allProducts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}